body{
   background-color: #EEEEEE;
    font-family: Courier New ,monospace;
}

a{
   text-decoration: none;
   color: pink;
}

h1,h2,h3{
   margin: 0;
}

#container{
   background-color: white;
   width: 800px;
   margin-left: auto;
   margin-right: auto;
}

#header {
   background-color: none;
   color: blue;
   text-align: center;
   padding: 10px;
}

#content{
   padding: 10px;
}

#nav{
   width: 180px;
   float: left;
}

#nav .info{
    font-weight: bold;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav .selected{
    font-weight: bolder;
}

#main{
   width: 600px;
   float: left;
}

#footer{
   clear: both;
   padding: 10px;
   background-color: #gray;
   color: white;
   text-align: right;
